footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 16rem;
  font-size: 0.6rem;
  font-size: clamp(0.6rem, 0.46rem + 0.7vw, 1.3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #828282;
  z-index: -1;
  padding-top: 2rem;
}
footer a {
  font-weight: 600;
  color: #828282;
}
footer a:visited {
  color: #828282;
}

#profile-bio {
  display: flex;
  flex-direction: column;
}
#profile-bio img {
  height: 12rem;
  border-radius: 8px;
  width: 16rem;
  align-self: center;
  margin-bottom: 1rem;
}
#profile-bio #name-job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
#profile-bio #name-job-container h1 {
  color: #4F4F4F;
  font-weight: 600;
  font-size: 1.3rem;
}
#profile-bio #name-job-container h2 {
  color: #828282;
  font-size: 1rem;
  font-weight: 400;
}
#profile-bio #contact-info-container iconify-icon {
  padding-right: 0.7rem;
  padding-bottom: 0.5rem;
}
#profile-bio #contact-info-container #email-container {
  display: flex;
}
#profile-bio #contact-info-container #email-container a {
  font-size: 0.8rem;
  color: #4F4F4F;
}
#profile-bio #contact-info-container #phone-container {
  display: flex;
}
#profile-bio #contact-info-container #phone-container a {
  color: #4F4F4F;
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
}
#profile-bio #bio-container {
  opacity: 0;
}
#profile-bio #bio-container p {
  color: #828282;
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
  margin-top: 2rem;
}
#profile-bio #name-contact-container {
  opacity: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #f2f2f2;
}

body {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 4rem;
  min-height: 100vh;
}

#skills p {
  font-size: 0.7rem;
  align-self: flex-end;
}
#skills li {
  list-style: none;
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#skills .skillbar {
  position: absolute;
  right: 4rem;
  width: 50%;
  height: 8px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #c4c4c4;
  align-self: center;
}
#skills .skillbar span {
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 10px;
  background-color: #2F80ED;
}
#skills .skillbar .skillbars {
  transition: all 2s ease-out;
}
#skills .skillbar .html {
  width: 10%;
}
#skills .skillbar .css {
  width: 10%;
}
#skills .skillbar .js {
  width: 10%;
}
#skills .skillbar .react {
  width: 10%;
}

#blog {
  margin-bottom: 5rem;
}
#blog #title-text-image-flex-container {
  display: flex;
  margin-bottom: 2rem;
}
#blog #title-text-image-flex-container h1 {
  color: #E0E0E0;
  font-size: 0.6rem;
  font-weight: 400;
  margin: 0.5rem 0 1rem 0;
}
#blog #title-text-image-flex-container h2 {
  color: #333333;
  font-weight: 500;
  font-size: 0.8rem;
  width: 90%;
}
#blog img {
  height: 10rem;
  width: 10rem;
  border-radius: 5px 0 0 5px;
  margin: 0.5rem -6.5% 0 0;
  opacity: 0;
  transition: all 0.9s ease;
}
#blog p {
  color: #828282;
  font-weight: 300;
  font-size: 0.5rem;
}
#blog p:nth-child(2) {
  margin-bottom: 1rem;
}
#blog p:nth-child(3) {
  margin-bottom: 1.5rem;
}
#blog a {
  text-decoration: none;
  font-size: 0.5rem;
  color: #2F80ED;
  cursor: pointer;
}
#blog a :active {
  color: #2F80ED;
}

#experiences h1 {
  color: #4F4F4F;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0 1.5rem 0;
}
#experiences img#asi {
  height: 1rem;
  width: 5rem;
  margin: 1rem 1.4rem 0 0;
  opacity: 0;
  transition: opacity 2s ease;
}
#experiences img#yogojo {
  height: 2.5rem;
  width: 2rem;
  margin: 1rem 4.3rem 0 0;
}
#experiences img#cambly {
  height: 2rem;
  width: 5rem;
  margin: 1rem 2.3rem 0 0;
}
#experiences .experience-flex-container {
  display: flex;
  justify-content: space-around;
}
#experiences .experience-flex-container .experience-item-header-info.asi {
  opacity: 0;
  transition: all 2s ease;
}
#experiences .experience-flex-container.yogojo {
  margin: 3rem 0 3rem 0;
}
#experiences .experience-flex-container h2 {
  color: #828282;
  font-size: 0.7rem;
  font-weight: lighter;
  margin: 0 0 0.2rem 0;
}
#experiences .experience-flex-container h1 {
  color: #333333;
  font-size: 0.8rem;
  font-weight: lighter;
}
#experiences .experience-flex-container .experience-job-description-points-container {
  color: #828282;
  font-size: 0.6rem;
  font-weight: lighter;
  margin-left: -5.8rem;
}
#experiences .experience-flex-container .experience-job-description-points-container li {
  margin-bottom: 1rem;
  opacity: 0;
  transition: opacity 2s ease;
}

.item-card {
  background-color: white;
  width: 90%;
  padding: 5%;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 50px;
}

#hobbies h1 {
  color: #4F4F4F;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#hobbies h2 {
  color: #333333;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.6rem 0 0.6rem 0;
}
#hobbies p {
  color: #828282;
  font-weight: 500;
  font-size: 0.6rem;
}
#hobbies img {
  height: 6rem;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 80%;
     object-position: 20% 80%;
}
#hobbies .hobby-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#hobbies .hobby-item#exercise {
  margin-bottom: 2rem;
}
#hobbies .hobby-item#reading {
  margin-bottom: 2rem;
}
#hobbies #exerciseimagecontainer {
  width: 100%;
}

#project-tags .tag-counter-header,
#project-tags .filter-by-header,
#project-tags #type-filter-tags-container {
  opacity: 0;
  transition: all 2s ease;
}
#project-tags .project-even {
  display: none;
}
#project-tags .active {
  background-color: #2F80ED;
  color: white;
}
#project-tags h1, #project-tags h2, #project-tags h3 {
  color: #4F4F4F;
  font-weight: 400;
}
#project-tags h1 {
  margin-bottom: 1rem;
  font-size: 1rem;
}
#project-tags h2 {
  margin-bottom: 1rem;
  font-size: 1rem;
}
#project-tags h3 {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
}
#project-tags ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#project-tags ul button {
  background-color: white;
  padding: 2px 20px;
  border-radius: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
  border: solid #4F4F4F 1px;
}
#project-tags ul button:hover {
  color: white;
  background-color: #2F80ED;
}
@media screen and (min-width: 1280px) {
  #project-tags ul button:hover {
    color: #2F80ED;
    border: solid #2F80ED 1px;
    background-color: white;
  }
}

.project-odd,
.project-even {
  opacity: 0;
  transition: all 2s ease;
}

#projects .project-item-flex-container {
  display: none;
  flex-direction: column;
  align-items: center;
}
#projects .project-item-button {
  transition: all 0.3s ease-out;
}
#projects h2 {
  font-weight: 500;
  color: #333333;
  margin: 2rem 0 2rem 0;
}
#projects .project-item-description {
  color: #828282;
  font-weight: 500;
  font-size: 0.8rem;
}
#projects .project-item-filter-tags-list {
  color: #828282;
  font-size: 0.7rem;
}
#projects img {
  height: 12rem;
  width: 16rem;
  border-radius: 15px;
}
#projects .project-item-buttons-flex-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.demo {
  border-radius: 10px;
  background-color: #2F80ED;
  border: none;
  height: 2rem;
  width: 6rem;
  cursor: pointer;
}
.demo a {
  color: white;
  text-decoration: none;
}
.demo:hover {
  background-color: white;
  border: 1px solid #2F80ED;
}
.demo:hover a {
  color: #2F80ED;
}

.code {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 2rem;
  width: 5rem;
  outline: 1px solid #2F80ED;
  background-color: white;
}
.code a {
  color: #2F80ED;
  text-decoration: none;
}
.code:hover {
  background-color: #2F80ED;
  outline: none;
}
.code:hover a {
  color: white;
}

#mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mobile-nav .navigation {
  position: fixed;
  top: 92vh;
  width: 300px;
  height: 70px;
  background-color: #2F80ED;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation {
    width: 380px;
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation {
    width: 450px;
  }
}
#mobile-nav .navigation ul {
  display: flex;
  width: 300px;
  padding-left: 20px;
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul {
    width: 380px;
  }
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul {
    padding-left: 0px;
  }
}
#mobile-nav .navigation ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 70px;
  z-index: 1;
  /* projects */
  /* experience */
  /* hobbies */
  /* blog */
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li {
    width: 380px;
  }
}
#mobile-nav .navigation ul li.active a .icon {
  transform: translateY(-40px);
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li.active a .icon {
    transform: translateY(-45px);
  }
}
#mobile-nav .navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(0px);
}
#mobile-nav .navigation ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 0.9em;
}
#mobile-nav .navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1em;
  text-align: center;
  transition: 0.5s;
  color: white;
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li a .icon {
    line-height: 95px;
  }
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li a .icon {
    font-size: 1.4em;
  }
}
#mobile-nav .navigation ul li a .text {
  position: absolute;
  color: white;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
#mobile-nav .navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0px);
}
#mobile-nav .navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(48.5px);
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(76px);
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(75px);
  }
}
#mobile-nav .navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(98px);
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(152px);
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(150px);
  }
}
#mobile-nav .navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(148.5px);
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(228px);
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(225px);
  }
}
#mobile-nav .navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(198px);
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(300px);
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(302px);
  }
}
#mobile-nav .indicator {
  position: absolute;
  top: -50%;
  left: 5.5%;
  width: 60px;
  height: 60px;
  background-color: #2F80ED;
  border-radius: 50%;
  border: 6px solid white;
  transition: 0.5s;
}
@media screen and (min-width: 400px) {
  #mobile-nav .indicator {
    left: 2%;
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .indicator {
    left: 8.5%;
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .indicator {
    width: 70px;
    height: 70px;
  }
}/*# sourceMappingURL=main.css.map */