footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 16rem;
  font-size: 0.6rem;
  font-size: clamp(0.6rem, 0.46rem + 0.7vw, 1.3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #828282;
  z-index: -1;
  padding-top: 1rem;
}
@media screen and (min-width: 1280px) {
  footer {
    position: relative;
    margin-top: 5rem;
    height: 0rem;
  }
}
footer a {
  font-weight: 600;
  color: #828282;
}
footer a:visited {
  color: #828282;
}

@media screen and (min-width: 1280px) {
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  header #skills-experience-container {
    display: grid;
  }
  header #profile-bio-blog-container {
    display: grid;
  }
}
header #profile-bio {
  display: flex;
  flex-direction: column;
}
header #profile-bio img {
  height: 12rem;
  border-radius: 8px;
  width: 16rem;
  align-self: center;
  margin-bottom: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 400px) {
  header #profile-bio img {
    height: 15rem;
    width: 20rem;
  }
}
@media screen and (min-width: 480px) {
  header #profile-bio img {
    height: 18rem;
    width: 24rem;
  }
}
@media screen and (min-width: 760px) {
  header #profile-bio img {
    height: 25rem;
    width: 35.5rem;
  }
}
@media screen and (min-width: 1280px) {
  header #profile-bio img {
    height: 23rem;
    width: 29.5rem;
  }
}
header #profile-bio #name-job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
header #profile-bio #name-job-container h1 {
  color: #4F4F4F;
  font-weight: 600;
  font-size: 1.3rem;
}
@media screen and (min-width: 760px) {
  header #profile-bio #name-job-container h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}
header #profile-bio #name-job-container h2 {
  color: #828282;
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 760px) {
  header #profile-bio #name-job-container h2 {
    font-size: 1.4rem;
  }
}
header #profile-bio #contact-info-container iconify-icon {
  padding-right: 0.7rem;
  padding-bottom: 0.5rem;
}
header #profile-bio #contact-info-container #email-container {
  display: flex;
}
@media screen and (min-width: 1280px) {
  header #profile-bio #contact-info-container #email-container {
    padding-bottom: 1rem;
  }
}
header #profile-bio #contact-info-container #email-container a {
  font-size: 0.8rem;
  color: #4F4F4F;
  text-decoration: underline;
}
@media screen and (min-width: 1280px) {
  header #profile-bio #contact-info-container #email-container a {
    font-size: 1rem;
  }
}
header #profile-bio #contact-info-container #phone-container {
  display: flex;
}
header #profile-bio #contact-info-container #phone-container a {
  color: #4F4F4F;
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 1280px) {
  header #profile-bio #contact-info-container #phone-container a {
    font-size: 1rem;
  }
}
header #profile-bio #bio-container {
  opacity: 0;
}
header #profile-bio #bio-container .bio-span {
  color: #2F80ED;
  font-weight: 600;
  font-size: 0.8rem;
}
@media screen and (min-width: 1280px) {
  header #profile-bio #bio-container .bio-span {
    font-size: 1.1rem;
  }
}
header #profile-bio #bio-container p {
  color: #828282;
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
  margin-top: 2rem;
  line-height: 1.2rem;
}
@media screen and (min-width: 1280px) {
  header #profile-bio #bio-container p {
    font-size: 1rem;
    line-height: 2rem;
  }
}
header #profile-bio #name-contact-container {
  opacity: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #f2f2f2;
}

body {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 4rem;
  min-height: 100vh;
}

#skills {
  height: 18rem;
}
#skills h1 {
  font-weight: 500;
}
@media screen and (min-width: 400px) {
  #skills {
    height: 20rem;
  }
}
#skills p {
  font-size: 0.7rem;
  align-self: flex-end;
}
@media screen and (min-width: 760px) {
  #skills p {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 1280px) {
  #skills p {
    font-size: 1rem;
  }
}
#skills li {
  list-style: none;
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#skills .skillbar {
  position: absolute;
  right: 4rem;
  width: 50%;
  height: 8px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #c4c4c4;
  align-self: center;
}
@media screen and (min-width: 1280px) {
  #skills .skillbar {
    width: 70%;
    right: 1rem;
  }
}
#skills .skillbar span {
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 10px;
  background-color: #2F80ED;
}
#skills .skillbar .skillbars {
  transition: all 2s ease-out;
}
#skills .skillbar .html {
  width: 0%;
}
#skills .skillbar .css {
  width: 0%;
}
#skills .skillbar .js {
  width: 0%;
}
#skills .skillbar .react {
  width: 0%;
}

#blog {
  margin-bottom: 5rem;
}
@media screen and (min-width: 1280px) {
  #blog {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  #blog.small-screen, #blog-lg-screen.small-screen {
    display: none;
  }
}
#blog.large-screen, #blog-lg-screen.large-screen {
  display: none;
}
@media screen and (min-width: 1280px) {
  #blog.large-screen, #blog-lg-screen.large-screen {
    display: block;
  }
}
#blog #title-text-image-flex-container, #blog-lg-screen #title-text-image-flex-container {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}
#blog #title-text-image-flex-container h1, #blog-lg-screen #title-text-image-flex-container h1 {
  color: #E0E0E0;
  font-size: 0.6rem;
  font-weight: 400;
  margin: 0.5rem 0 1rem 0;
}
@media screen and (min-width: 760px) {
  #blog #title-text-image-flex-container h1, #blog-lg-screen #title-text-image-flex-container h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #blog #title-text-image-flex-container h1, #blog-lg-screen #title-text-image-flex-container h1 {
    font-size: 1rem;
  }
}
#blog #title-text-image-flex-container h2, #blog-lg-screen #title-text-image-flex-container h2 {
  color: #333333;
  font-weight: 500;
  font-size: 0.8rem;
  width: 90%;
}
@media screen and (min-width: 760px) {
  #blog #title-text-image-flex-container h2, #blog-lg-screen #title-text-image-flex-container h2 {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  #blog #title-text-image-flex-container h2, #blog-lg-screen #title-text-image-flex-container h2 {
    font-size: 1.2rem;
  }
}
#blog img, #blog-lg-screen img {
  height: 10rem;
  width: 10rem;
  border-radius: 5px 0 0 5px;
  margin: 0.5rem -6.5% 0 0;
  opacity: 0;
  transition: all 0.9s ease;
}
@media screen and (min-width: 760px) {
  #blog img, #blog-lg-screen img {
    height: 15rem;
    width: 15rem;
  }
}
@media screen and (min-width: 1280px) {
  #blog img, #blog-lg-screen img {
    margin-bottom: 4rem;
  }
}
#blog p, #blog-lg-screen p {
  color: #828282;
  font-weight: 300;
  font-size: 0.5rem;
}
@media screen and (min-width: 760px) {
  #blog p, #blog-lg-screen p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  #blog p, #blog-lg-screen p {
    font-size: 0.9rem;
  }
}
#blog p:nth-child(2), #blog-lg-screen p:nth-child(2) {
  margin-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  #blog p:nth-child(2), #blog-lg-screen p:nth-child(2) {
    margin-bottom: 1.5rem;
  }
}
#blog p:nth-child(3), #blog-lg-screen p:nth-child(3) {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1280px) {
  #blog p:nth-child(3), #blog-lg-screen p:nth-child(3) {
    margin-bottom: 2rem;
  }
}
#blog a, #blog-lg-screen a {
  text-decoration: none;
  font-size: 0.5rem;
  color: #2F80ED;
  cursor: pointer;
}
@media screen and (min-width: 760px) {
  #blog a, #blog-lg-screen a {
    font-size: 0.7rem;
  }
}
#blog a :active, #blog-lg-screen a :active {
  color: #2F80ED;
}

#experiences img {
  transition: all 0.3s ease;
}
#experiences img:hover {
  scale: 1.2;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  #experiences {
    display: none;
  }
}
#experiences.laptop {
  display: none;
}
@media screen and (min-width: 1280px) {
  #experiences.laptop {
    display: block;
  }
}
#experiences h1 {
  color: #4F4F4F;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  margin: 0 0 1.5rem 0;
}
@media screen and (min-width: 760px) {
  #experiences h1 {
    font-size: 1.5rem;
  }
}
#experiences img#asi {
  height: 1rem;
  width: 5rem;
  margin: 1rem 1.4rem 0 0;
  opacity: 0;
}
@media screen and (min-width: 1280px) {
  #experiences img#asi {
    height: 2rem;
    width: 10rem;
  }
}
#experiences img#yogojo {
  height: 2.5rem;
  width: 2rem;
  margin: 1rem 4.3rem 0 0;
}
@media screen and (min-width: 1280px) {
  #experiences img#yogojo {
    height: 4.3rem;
    width: 3.6rem;
    padding: 0 0 1rem 0;
  }
}
#experiences img#cambly {
  height: 2rem;
  width: 5rem;
  margin: 1rem 2.3rem 0 0;
}
@media screen and (min-width: 1280px) {
  #experiences img#cambly {
    height: 3rem;
    width: 6rem;
  }
}
#experiences .experience-flex-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
@media screen and (min-width: 400px) {
  #experiences .experience-flex-container .experience-item-header-info {
    margin-left: 2rem;
  }
}
#experiences .experience-flex-container h2 {
  color: #828282;
  font-size: 0.7rem;
  font-weight: lighter;
  margin: 0 0 0 0;
  transition: scale 0.3s;
}
#experiences .experience-flex-container h2:hover {
  scale: 1.05;
}
@media screen and (min-width: 760px) {
  #experiences .experience-flex-container h2 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  #experiences .experience-flex-container h2 {
    font-size: 0.9rem;
  }
}
#experiences .experience-flex-container h2:nth-child(odd) {
  margin-bottom: 1.5rem;
}
#experiences .experience-flex-container h1 {
  color: #333333;
  font-size: 0.8rem;
  font-weight: lighter;
  transition: scale 0.3s;
}
#experiences .experience-flex-container h1:hover {
  scale: 1.05;
}
@media screen and (min-width: 760px) {
  #experiences .experience-flex-container h1 {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  #experiences .experience-flex-container h1 {
    font-size: 1.1rem;
  }
}
#experiences .experience-flex-container .experience-job-description-points-container {
  color: #828282;
  font-size: 0.6rem;
  font-weight: lighter;
  margin-left: -5.8rem;
}
#experiences .experience-flex-container .experience-job-description-points-container:hover {
  cursor: pointer;
}
@media screen and (min-width: 760px) {
  #experiences .experience-flex-container .experience-job-description-points-container {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  #experiences .experience-flex-container .experience-job-description-points-container {
    font-size: 0.9rem;
  }
}
#experiences .experience-flex-container .experience-job-description-points-container li {
  margin-bottom: 1rem;
  opacity: 0;
  transition: font-size, font-weight, 0.3s;
}
.item-card {
  background-color: white;
  width: 90%;
  padding: 5%;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 50px;
}
@media screen and (min-width: 760px) {
  .item-card {
    width: 85%;
  }
}

.project-filter-hobbies-grid-container .hobbies-lg-screen {
  display: none;
}
@media screen and (min-width: 1280px) {
  .project-filter-hobbies-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .project-filter-hobbies-grid-container #hobbies.hobbies-lg-screen {
    display: block;
    width: 98%;
    margin-left: 3.2rem;
    margin-left: 1.7rem;
  }
}

@media screen and (min-width: 1280px) {
  #hobbies {
    display: none;
  }
}
#hobbies h1 {
  color: #4F4F4F;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 760px) {
  #hobbies h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #hobbies h1 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1530px) {
  #hobbies h1 {
    font-size: 1.5rem;
  }
}
#hobbies h2 {
  color: #333333;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.6rem 0 0.6rem 0;
}
@media screen and (min-width: 760px) {
  #hobbies h2 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  #hobbies h2 {
    font-size: 1.1rem;
  }
}
#hobbies p {
  color: #828282;
  font-weight: 500;
  font-size: 0.6rem;
}
@media screen and (min-width: 760px) {
  #hobbies p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  #hobbies p {
    font-size: 0.9rem;
  }
}
#hobbies .hobbies-img-wrapper {
  height: 6rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  #hobbies .hobbies-img-wrapper {
    height: 9rem;
  }
}
@media screen and (min-width: 760px) {
  #hobbies .hobbies-img-wrapper {
    height: 13rem;
  }
}
@media screen and (min-width: 1280px) {
  #hobbies .hobbies-img-wrapper {
    height: 11rem;
  }
}
@media screen and (min-width: 1530px) {
  #hobbies .hobbies-img-wrapper {
    height: 15rem;
  }
}
#hobbies .hobbies-img-wrapper img {
  height: 6rem;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 80%;
     object-position: 20% 80%;
  transition: all 0.3s;
  display: block;
}
#hobbies .hobbies-img-wrapper img:hover {
  scale: 1.05;
}
@media screen and (min-width: 400px) {
  #hobbies .hobbies-img-wrapper img {
    height: 9rem;
  }
}
@media screen and (min-width: 760px) {
  #hobbies .hobbies-img-wrapper img {
    height: 13rem;
  }
}
@media screen and (min-width: 1280px) {
  #hobbies .hobbies-img-wrapper img {
    height: 13rem;
    width: 100%;
  }
  #hobbies .hobbies-img-wrapper img:hover {
    scale: 1.04;
  }
}
@media screen and (min-width: 1530px) {
  #hobbies .hobbies-img-wrapper img {
    height: 16rem;
  }
}
#hobbies .hobby-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#hobbies .hobby-item#exercise {
  margin-bottom: 2rem;
}
@media screen and (min-width: 760px) {
  #hobbies .hobby-item#exercise {
    margin-bottom: 3.5rem;
  }
}
#hobbies .hobby-item#reading {
  margin-bottom: 2rem;
}
@media screen and (min-width: 760px) {
  #hobbies .hobby-item#reading {
    margin-bottom: 3.5rem;
  }
}
#hobbies #exerciseimagecontainer {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  #project-tags {
    display: block;
    margin-top: -1rem;
    height: 30rem;
  }
}
#project-tags .tag-counter-header,
#project-tags .filter-by-header,
#project-tags #type-filter-tags-container {
  opacity: 0;
  transition: all 2s ease;
}
#project-tags .project-even {
  display: none;
}
#project-tags .active {
  background-color: #2F80ED;
  color: white;
}
#project-tags h1, #project-tags h2, #project-tags h3 {
  color: #4F4F4F;
  font-weight: 400;
}
#project-tags h1 {
  margin-bottom: 1rem;
  font-size: 1rem;
}
@media screen and (min-width: 1280px) {
  #project-tags h1 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1530px) {
  #project-tags h1 {
    margin-top: 2rem;
  }
}
#project-tags h2 {
  margin-bottom: 1rem;
  font-size: 1rem;
}
@media screen and (min-width: 1280px) {
  #project-tags h2 {
    font-size: 1.2rem;
  }
}
#project-tags h3 {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  #project-tags h3 {
    font-size: 1.2rem;
  }
}
#project-tags ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (min-width: 1280px) {
  #project-tags ul {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
#project-tags ul button {
  background-color: white;
  padding: 2px 20px;
  padding: 2px 0px;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 7rem;
  cursor: pointer;
  border: solid #4F4F4F 1px;
}
@media screen and (min-width: 1280px) {
  #project-tags ul button {
    width: 8rem;
  }
}
#project-tags ul button:hover {
  color: white;
  background-color: #2F80ED;
}
@media screen and (min-width: 1280px) {
  #project-tags ul button:hover {
    color: #2F80ED;
    border: solid #2F80ED 1px;
    background-color: white;
  }
}

.project-odd,
.project-even {
  opacity: 0;
  transition: all 2s ease;
}

#project-items .project-item-flex-container {
  display: none;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  #project-items .project-item-flex-container {
    width: 92%;
  }
}
#project-items .project-item-button {
  transition: all 0.3s ease-out;
}
#project-items h2 {
  font-weight: 500;
  color: #333333;
  margin: 2rem 0 2rem 0;
}
#project-items .project-item-description {
  color: #828282;
  font-weight: 500;
  font-size: 0.8rem;
}
#project-items .project-item-filter-tags-list {
  color: #828282;
  font-size: 0.7rem;
}
#project-items img {
  height: 90%;
  width: 98%;
  border-radius: 15px;
}
#project-items .project-item-buttons-flex-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 1280px) {
  #project-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.demo {
  border-radius: 10px;
  background-color: #2F80ED;
  border: none;
  height: 2rem;
  width: 6rem;
  cursor: pointer;
}
.demo a {
  color: white;
  text-decoration: none;
}
.demo:hover {
  background-color: white;
  border: 1px solid #2F80ED;
}
.demo:hover a {
  color: #2F80ED;
}

.code {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 2rem;
  width: 5rem;
  outline: 1px solid #2F80ED;
  background-color: white;
}
.code a {
  color: #2F80ED;
  text-decoration: none;
}
.code:hover {
  background-color: #2F80ED;
  outline: none;
}
.code:hover a {
  color: white;
}

#mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  margin-top: 5rem;
}
@media screen and (min-width: 1280px) {
  #mobile-nav {
    display: none;
  }
}
#mobile-nav .navigation {
  position: fixed;
  z-index: 3;
  top: 94.8vh;
  width: 315px;
  height: 70px;
  background-color: #2F80ED;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation {
    width: 380px;
    top: 94.7vh;
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation {
    width: 450px;
  }
}
@media screen and (min-width: 760px) {
  #mobile-nav .navigation {
    width: 600px;
    height: 85px;
    top: 93.7vh;
  }
}
#mobile-nav .navigation ul {
  display: flex;
  width: 300px;
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul {
    width: 380px;
    padding-left: 0px;
  }
}
@media screen and (min-width: 760px) {
  #mobile-nav .navigation ul {
    width: 550px;
  }
}
#mobile-nav .navigation ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 70px;
  z-index: 1;
  /* projects */
  /* experience */
  /* hobbies */
  /* blog */
  /* reviews */
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li {
    width: 380px;
  }
}
#mobile-nav .navigation ul li.active a .icon {
  transform: translateY(-40px);
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li.active a .icon {
    transform: translateY(-45px);
  }
}
#mobile-nav .navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(0px);
}
#mobile-nav .navigation ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 0.9em;
}
#mobile-nav .navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1em;
  text-align: center;
  transition: 0.5s;
  color: white;
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li a .icon {
    line-height: 95px;
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li a .icon {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 760px) {
  #mobile-nav .navigation ul li a .icon {
    font-size: 1.5rem;
    line-height: 86px;
    margin-bottom: 1rem;
  }
}
#mobile-nav .navigation ul li a .text {
  position: absolute;
  color: white;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
@media screen and (min-width: 760px) {
  #mobile-nav .navigation ul li a .text {
    font-size: 0.85rem;
  }
}
#mobile-nav .navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0px);
}
#mobile-nav .navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(48.5px);
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(62px);
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(62px);
  }
}
@media screen and (min-width: 760px) {
  #mobile-nav .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(91.2px);
  }
}
#mobile-nav .navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(99px);
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(124px);
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(126px);
  }
}
@media screen and (min-width: 760px) {
  #mobile-nav .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(182px);
  }
}
#mobile-nav .navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(148.5px);
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(189px);
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(189px);
  }
}
@media screen and (min-width: 760px) {
  #mobile-nav .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(273px);
  }
}
#mobile-nav .navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(198px);
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(252px);
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(252px);
  }
}
@media screen and (min-width: 760px) {
  #mobile-nav .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(366px);
  }
}
#mobile-nav .navigation ul li:nth-child(6).active ~ .indicator {
  transform: translateX(247.5px);
}
@media screen and (min-width: 400px) {
  #mobile-nav .navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateX(315px);
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateX(315px);
  }
}
@media screen and (min-width: 760px) {
  #mobile-nav .navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateX(457.5px);
  }
}
#mobile-nav .indicator {
  position: absolute;
  top: -50%;
  left: 1%;
  width: 60px;
  height: 60px;
  background-color: #2F80ED;
  border-radius: 50%;
  border: 6px solid white;
  transition: 0.5s;
}
@media screen and (min-width: 400px) {
  #mobile-nav .indicator {
    left: 0.8%;
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .indicator {
    left: 7.2%;
  }
}
@media screen and (min-width: 480px) {
  #mobile-nav .indicator {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 760px) {
  #mobile-nav .indicator {
    left: 4.8%;
    width: 85px;
    height: 85px;
  }
}

.testimonials {
  margin-bottom: 4rem;
  padding-top: 1rem;
  height: 100%;
  margin-top: -6rem;
  width: 100%;
}
.testimonials .carousel-container {
  opacity: 0;
}
.testimonials .carousel-container.animate__animated.animate__bounceInUp {
  --animate-duration: 1.8s;
}
@media screen and (min-width: 1280px) {
  .testimonials {
    display: none;
  }
}
.testimonials.lg-screen {
  display: none;
}
@media screen and (min-width: 1280px) {
  .testimonials.lg-screen {
    display: block;
    padding-top: 6rem;
    height: auto;
    width: 100%;
  }
}
.testimonials .owl-dots {
  text-align: center;
  margin: 2rem 0;
}
.testimonials .owl-dots button {
  background-color: #8db9f5 !important;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
}
.testimonials .owl-dots button:hover {
  background: #2F80ED !important;
}
.testimonials .owl-dots button.active {
  background-color: #2F80ED !important;
}
.testimonials .testimonials-outer-container h1 {
  color: #333333;
  font-weight: 400;
  opacity: 0;
  transition: all 0.5s;
}
@media screen and (min-width: 1530px) {
  .testimonials .testimonials-outer-container h1 {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1530px) {
  .testimonials .testimonials-outer-container {
    height: 45rem;
  }
}
.testimonials .testimonial-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid #2F80ED;
  border-radius: 25px;
  position: relative;
  z-index: 2;
  z-index: 0;
  margin-top: 3rem;
  /* name */
  /* company */
  /* job title */
}
@media screen and (min-width: 1530px) {
  .testimonials .testimonial-card {
    height: 26rem;
  }
}
.testimonials .testimonial-card::before {
  content: "\f10d";
  position: absolute;
  left: -4px;
  top: -25px;
  background-color: #ffffff;
  height: 65px;
  width: 70px;
  font-family: FontAwesome;
  color: #2F80ED;
  font-size: 3.5rem;
}
.testimonials .testimonial-card::after {
  content: "\f10e";
  font-family: FontAwesome;
  position: absolute;
  padding-left: 20px;
  right: -10px;
  bottom: -15px;
  background-color: #ffffff;
  height: 63px;
  width: 70px;
  color: #2F80ED;
  font-size: 3.5rem;
}
.testimonials .testimonial-card .testimonial-image-description-container {
  display: flex;
}
.testimonials .testimonial-card .testimonial-image-description-container .testimonial-description-container {
  display: flex;
  flex-direction: column;
}
.testimonials .testimonial-card img {
  width: 3rem !important;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
  margin-top: 0.9rem;
}
@media screen and (min-width: 1280px) {
  .testimonials .testimonial-card img {
    width: 4rem !important;
    height: 4rem;
  }
}
.testimonials .testimonial-card h1 {
  margin-top: 1rem;
  color: #333333;
  font-size: 1rem;
}
@media screen and (min-width: 1280px) {
  .testimonials .testimonial-card h1 {
    font-size: 1.1rem;
  }
}
.testimonials .testimonial-card h2 {
  color: #4F4F4F;
  margin-top: 0.3rem;
  font-size: 0.5rem;
}
@media screen and (min-width: 1280px) {
  .testimonials .testimonial-card h2 {
    font-size: 0.7rem;
  }
}
.testimonials .testimonial-card h3 {
  color: #2F80ED;
  margin-top: 0.3rem;
  font-size: 0.8rem;
}
@media screen and (min-width: 1280px) {
  .testimonials .testimonial-card h3 {
    font-size: 0.9rem;
  }
}
.testimonials .testimonial-card hr {
  margin: 2rem 0 1rem 0;
  display: block;
  height: 1px;
  width: 70%;
  background-color: #4F4F4F;
  border: none;
  border-radius: 10px;
}
.testimonials .testimonial-card p {
  color: #828282;
  margin-top: 3rem;
  line-height: 1.5rem;
  font-size: 0.5rem;
  padding: 0 1rem;
  text-align: center;
}
@media screen and (min-width: 760px) {
  .testimonials .testimonial-card p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .testimonials .testimonial-card p {
    font-size: 0.9rem;
  }
}
.testimonials .testimonial-card .social-icon {
  margin-top: 1rem;
  color: #2F80ED;
  color: #8db9f5;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.testimonials .testimonial-card .social-icon:hover {
  color: #2F80ED;
}

@media screen and (min-width: 1280px) {
  .filter-testimonials {
    width: 104%;
    overflow: hidden;
  }
}/*# sourceMappingURL=main.css.map */