footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  font-size: 0.6rem;
  font-size: clamp(0.6rem, 0.46rem + 0.7vw, 1.3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #828282;
}
footer a {
  color: red;
  font-weight: 600;
}
footer a:visited {
  color: inherit;
}

#profile-bio {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  width: 90%;
  padding: 5%;
  border-radius: 15px;
}
#profile-bio img {
  height: 12rem;
  border-radius: 8px;
  width: 16rem;
  align-self: center;
  margin-bottom: 1rem;
}
#profile-bio #name-job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
#profile-bio #name-job-container h1 {
  color: #4F4F4F;
  font-weight: 600;
  font-size: 1.3rem;
}
#profile-bio #name-job-container h2 {
  color: #828282;
  font-size: 1rem;
  font-weight: 400;
}
#profile-bio #contact-info-container {
  color: #4F4F4F;
}
#profile-bio #contact-info-container iconify-icon {
  padding-right: 0.7rem;
  padding-bottom: 0.5rem;
}
#profile-bio #contact-info-container #email-container {
  display: flex;
}
#profile-bio #contact-info-container #email-container p {
  font-size: 0.8rem;
}
#profile-bio #contact-info-container #phone-container {
  display: flex;
}
#profile-bio #contact-info-container #phone-container p {
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
}
#profile-bio #bio-container p {
  color: #828282;
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #f2f2f2;
}

body {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 4rem;
  min-height: 100vh;
}

#skills {
  background-color: white;
  width: 90%;
  padding: 5%;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 50px;
}
#skills p {
  font-size: 0.7rem;
  align-self: flex-end;
}
#skills li {
  list-style: none;
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#skills .skillbar {
  position: absolute;
  right: 4rem;
  width: 50%;
  height: 8px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #c4c4c4;
  align-self: center;
}
#skills .skillbar span {
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 10px;
  background-color: #2F80ED;
}
#skills .skillbar .html {
  width: 80%;
  animation: html 2s ease-out;
}
#skills .skillbar .css {
  width: 80%;
  animation: css 2s ease-out;
}
#skills .skillbar .js {
  width: 50%;
  animation: js 2s ease-out;
}
#skills .skillbar .react {
  width: 50%;
  animation: react 2s ease-out;
}

@keyframes html {
  from {
    width: 10%;
  }
  to {
    width: 80%;
  }
}
@keyframes css {
  from {
    width: 10%;
  }
  to {
    width: 80%;
  }
}
@keyframes js {
  from {
    width: 10%;
  }
  to {
    width: 50%;
  }
}
@keyframes react {
  from {
    width: 10%;
  }
  to {
    width: 50%;
  }
}
#blog {
  background-color: white;
  width: 90%;
  padding: 5%;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 50px;
}
#blog #title-text-image-flex-container {
  display: flex;
}
#blog #title-text-image-flex-container h1 {
  color: #E0E0E0;
  font-size: 1rem;
  font-weight: 400;
}
#blog #title-text-image-flex-container h2 {
  color: #333333;
  font-weight: 500;
}
#blog img {
  height: 10rem;
  width: 10rem;
}/*# sourceMappingURL=main.css.map */