#blog {
    margin-bottom: 5rem;
    @include laptop {
        margin-bottom: 0;
    }
}

#blog, #blog-lg-screen {
    &.small-screen {
        @include laptop {
            display: none;
        }
    }

    &.large-screen{
        display: none;
        @include laptop {
            display: block;
        }
    }

  #title-text-image-flex-container {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;

    h1 {
        color: $light-grey2;
        font-size: 0.6rem;
        font-weight: 400;
        margin: 0.5rem 0 1rem 0;
        @include laptop {
            font-size: 1rem;
        }
    }

     h2 {
        color: $dark-grey2;
        font-weight: 500;
        font-size: 0.8rem;
        width: 90%;
        @include laptop {
            font-size: 1.2rem;
        }
     }
  }

    img {
        height: 10rem;
        width: 10rem;
        border-radius: 5px 0 0 5px;
        margin: 0.5rem -6.5% 0 0;
        opacity: 0;
        transition: all .9s ease;
        @include laptop {
            margin-bottom: 4rem;
            height: 15rem;
            width: 15rem;
        }
    }

    p {
        color: $light-grey1;
        font-weight: 300;
        font-size: 0.5rem;
        @include laptop {
            font-size: .9rem;
        }

        &:nth-child(2) {
            margin-bottom: 1rem;
            @include laptop {
                margin-bottom: 1.5rem;
            }
        }
       
        &:nth-child(3) {
            margin-bottom: 1.5rem;
            @include laptop {
                margin-bottom: 2rem;
            }
        }
    }

    a { 
        text-decoration: none;
        font-size: 0.5rem;
        @include laptop {
            font-size: .7rem;
        }
        color: $accent-blue;
        cursor: pointer;
        :active {
            color: $accent-blue;
        }
    }
}