#experiences {

    img{
        transition: all .3s ease;
        &:hover {
            scale: 1.2;
            cursor: pointer;
        }
     } 

    @include laptop {
        display: none;
    }
    &.laptop {
        display: none;
        @include laptop {
            display: block;
        }
    }
    h1 {
        color: $dark-grey1;
        font-weight: 400;
        font-size: 1rem;
        margin: 0 0 .5rem 0;
        margin: 0 0 1.5rem 0;
        @include tablet {
            font-size: 1.5rem;
        }
        // @include laptop {
        //     font-size: 1.5rem;    
        // }
    }

    img#asi {
        height: 1rem;
        width: 5rem;
        margin: 1rem 1.4rem 0 0;
        opacity: 0;
        // transition: transform 2s ease;
        @include laptop {
            height: 2rem;
            width: 10rem;
        }
    }

    img#yogojo {
        height: 2.5rem;
        width: 2rem;
        margin: 1rem 4.3rem 0 0;
        @include laptop {
            height: 4.3rem;
            width: 3.6rem;
            padding: 0 0 1rem 0;
        }
    }

    img#cambly {
        height: 2rem;
        width: 5rem;
        margin: 1rem 2.3rem 0 0;
        @include laptop {
            height: 3rem;
            width: 6rem;
        }

       
    }

    .experience-flex-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;

        .experience-item-header-info {
        
        @include mobile-m{
            margin-left: 2rem;
            }       
        }
      
        h2 { 
        //date & location
        color: $light-grey1;
        font-size: .7rem;
        font-weight: lighter;
        margin: 0 0 0 0;
        transition: scale .3s;
        &:hover {
            scale: 1.05;
        }
        @include tablet {
            font-size: .8rem;
        }
        @include laptop {
            font-size: .9rem;
        }

        &:nth-child(odd) {
            margin-bottom: 1.5rem;
        }
        }

        h1 {
        //position
        color: $dark-grey2;
        font-size: .8rem;
        font-weight: lighter;
        transition: scale .3s;
        &:hover {
            scale: 1.05;
        }
        @include tablet {
            font-size: .9rem;
        }
        @include laptop {
            font-size: 1.1rem;
        }
        }

        .experience-job-description-points-container {
            color: $light-grey1;
            font-size: .6rem;
            font-weight: lighter;
            margin-left: -5.8rem;

            &:hover {
                cursor: pointer;
            }
            @include tablet {
                font-size: .8rem;
            }
            @include laptop {
                font-size:  .9rem;
            }

            li {
                margin-bottom: 1rem;
                opacity: 0;
                transition: font-size, font-weight, .3s;
                @include laptop {
                    
                }
            }
        }
    }


}

