#experiences {

    h1 {
        color: $dark-grey1;
        font-weight: 400;
        font-size: 1rem;
        margin: 0 0 1.5rem 0;
    }

    img {
        height: 1rem;
        width: 5rem;
    }

    .experience-flex-container {
        display: flex;
        justify-content: space-around;

        h2 { 
        //date 
        color: $light-grey1;
        font-size: .7rem;
        font-weight: lighter;
        margin: 0 0 0.2rem 0;
        }

        h1 {
        //position
        color: $dark-grey2;
        font-size: .8rem;
        font-weight: lighter;
        }
    }
}