body {
    @include laptop {
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "prof skill"
    
    ;
    #profile-bio {
        grid-area: prof;
    }

    #skills {
        grid-area: skill;
    }

    #project-items {
        grid-area: proj;
    }
   
    #project-tags {
        grid-area: projtag;
    }

    #experiences {
        grid-area: exp;
    }

    #hobbies {
        grid-area: hob;
    }
    }
    
}