@import '../mixins/breakpoints';
header {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
    margin: 0 auto;
    background-color: white;
    
    width: 90%;
    padding: 5%;
    border-radius: 15px;
    img {
        height:12rem;
        border-radius: 8px;
        width: 16rem;
        align-self: center;
        margin-bottom: 1rem;
    }

    #name-job-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;

        h1 { 
            color: $dark-grey1;
            font-weight: 600;
            font-size: 1.3rem;
            @include tablet {
                color: blue !important;
            }
        }

        h2 {
            color: $light-grey1;
            font-size: 1rem;
            font-weight: 400;
        }
    }

    #contact-info-container {
        color: $dark-grey1;
        iconify-icon {
                padding-right: .7rem;
                padding-bottom: .5rem;
            }
        #email-container {
            display: flex;
            p {
                font-size: .8rem;
            }
        }

        #phone-container {
            display: flex;
            p {
                font-size: .8rem;
                padding-bottom: 1.5rem;
            }
        }
    }

    #bio-container {
        p {
            color: $light-grey1;
            font-size: .7rem;
            padding-bottom: .2rem;
        }
    }
}