@import '../mixins/breakpoints';

header {
    @include laptop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        #skills-experience-container {
         display: grid;
        }

        #profile-bio-blog-container {
            display: grid;
        }
    }

    #profile-bio {
        display: flex;
        flex-direction: column;
       
        img {
            height:12rem;
            border-radius: 8px;
            width: 16rem;
            align-self: center;
            margin-bottom: 1rem; 
            object-fit: cover;
            @include mobile-m{
                height: 15rem;
                width: 20rem;
            }
            @include mobile-l{
                height: 18rem;
                width: 24rem;
            }
            @include tablet{
                height: 25rem;
                width: 38rem;
            }
            @include laptop {
                height: 23rem;
                width: 29.5rem;
            }
        }

        #name-job-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 2rem;

            h1 { 
                color: $dark-grey1;
                font-weight: 600;
                font-size: 1.3rem;
                @include tablet {
                    font-size: 2rem;
                }
                @include laptop {
                    margin-bottom: .5rem;
                }
            }

            h2 {
                color: $light-grey1;
                font-size: 1rem;
                font-weight: 400;
                @include tablet {
                    font-size: 1.4rem;
                }
            }
        }

        #contact-info-container {
            iconify-icon {
                    padding-right: .7rem;
                    padding-bottom: .5rem;
                }
            #email-container {
                display: flex;
                @include laptop {
                    padding-bottom: 1rem;
                }
                a {
                    font-size: .8rem;
                    color: $dark-grey1;
                    text-decoration: underline;
                    @include laptop {
                     font-size: 1rem;   
                     
                    }
                }
            }

            #phone-container {
                display: flex;
                a {
                    color: $dark-grey1;
                    font-size: .8rem;
                    padding-bottom: 1.5rem;
                    @include laptop {
                     font-size: 1rem;   
                    }
                }
            }
        }

        #bio-container {
            opacity: 0;
            .bio-span {
                color: $accent-blue;
                font-weight: 600;
                font-size: .8rem;
                @include laptop {
                    font-size: 1.1rem;
                }
            }
            p {
                color: $light-grey1;
                font-size: .7rem;
                padding-bottom: .2rem;
                margin-top: 2rem;
                line-height: 1.2rem;
                @include laptop {
                    font-size: 1rem;
                    line-height: 2rem;
                }
            }
        }

        #name-contact-container {
            opacity: 0;
        }
    }
}