
.project-filter-hobbies-grid-container {
    .hobbies-lg-screen{
        display: none;
    }
    
    @include laptop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        #hobbies-lg-screen.hobbies-lg-screen {
            display: block;
            width: 98%;
            margin-left: 3.2rem;
            margin-left: 1.7rem;
        }
    }
}

#hobbies, #hobbies-lg-screen {
    @include laptop {
        display: none;
    }
    
    h1 {
        color: $dark-grey1;
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 1rem;
        @include tablet {
            font-size: 1.5rem;
        }
        @include laptop {
            font-size: 1.3rem;
        }
        @include desktop-m {
            font-size: 1.5rem;
        }
    }

    h2 {
        color: $dark-grey2;
        font-size: .8rem;
        font-weight: 500;
        margin: .6rem 0 .6rem 0;
        @include tablet {
            font-size: 1rem;
        }
        @include laptop {
            font-size: 1.1rem;
        }
    }

    p {
        color: $light-grey1;
        font-weight: 500;
        font-size: .6rem;
        @include tablet {
            font-size: .8rem;
        }
        @include laptop {
            font-size: .9rem;
        }
    }

    .hobbies-img-wrapper {
        height: 6rem;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        @include mobile-l{
            height: 9rem;
        }
        @include tablet{
            height: 13rem;
        }
        @include laptop{
            height: 11rem;
        }
        @include desktop-m {
            height: 15rem;
        }
           img {
        height: 6rem;
        width: 100%;
        border-radius: 10px;
        object-fit: cover; 
        object-position: 20% 80%;
        transition: all .3s;
        display: block;
        &:hover {
            scale: 1.05;
        }
        @include mobile-m {
                height: 9rem;
            }
        @include tablet {
                height: 13rem;
            }
        @include laptop {
                height: 13rem;
                width: 100%;
                // height: 20rem;

                &:hover {
                    scale: 1.04;
                }
            }
        @include desktop-m {
            height: 16rem;
            }
        }
    }

    .hobby-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &#exercise {
            margin-bottom: 2rem;
            @include tablet {
                margin-bottom: 3.5rem;
            }
        }
        
        &#reading {
            margin-bottom: 2rem;
            @include tablet {
                margin-bottom: 3.5rem;
            }
        }
    }

    #exerciseimagecontainer {
        width: 100%;
    };
}
