.project-filter-hobbies-grid-container {
    .hobbies-lg-screen{
        display: none;
    }
    
    @include laptop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;  

        .hobbies-lg-screen {
            display: grid;
        }
    }
   
  
}

#hobbies {
 
    @include laptop {
        display: grid;
        grid-column: 1 / 3;
    }
    
    h1 {
        color: $dark-grey1;
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    h2 {
        color: $dark-grey2;
        font-size: .8rem;
        font-weight: 500;
        margin: .6rem 0 .6rem 0;
    }

    p {
        color: $light-grey1;
        font-weight: 500;
        font-size: .6rem;

    }

    img {
        height: 6rem;
        width: 100%;
        border-radius: 10px;
        object-fit: cover; 
        object-position: 20% 80%;
        @include mobile-m {
            height: 8rem;
        }
        @include laptop {
            height: 13rem;
        }
    }

    .hobby-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &#exercise {
            margin-bottom: 2rem;
        }
        
        &#reading {
            margin-bottom: 2rem;
        }
       
    }

    #exerciseimagecontainer {
        width: 100%;
    }

    
}