#mobile-nav {
    .navigation {
        position: relative;
        width: 400px;
        height: 70px;
        background-color: $accent-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: ;
    }
}