#mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    // opacity: 0;
    transition: opacity .3s ease;
    margin-top: 5rem;
    @include laptop {
        display: none;
    }
    
    .navigation {
        position: fixed;
        z-index: 3;
        // top: 92vh;
        top: 93.3vh;
        width: 315px;
        @include mobile-m {
            width: 380px; 
            top: 94.7vh;
        };
        @include mobile-l {
            width: 450px; 
        };
        @include tablet {
            width: 600px;
            height: 85px;
            top: 93.7vh;
        }
        height: 70px;
        background-color: $accent-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        ul {
            display: flex;
            width: 300px; 
            // padding-left: 20px;
            @include mobile-m {
                width: 380px; 
                padding-left: 0px; 
            };
           
            @include tablet {
               width: 550px;
            };

            li {
                position: relative;
                list-style: none;
                width: 50px;
                @include mobile-m {
                    width: 380px;
                }
                height: 70px;
                z-index: 1;
                
                &.active a .icon {
                    transform: translateY(-40px);
                    @include mobile-l {
                        transform: translateY(-45px);
                    };
                    }
                &.active a .text {
                    opacity: 1;
                    transform: translateY(0px);
                    }

                a {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    font-weight: 500;
                    font-size: .9em;

                    .icon {
                        position: relative;
                        display: block;
                        line-height: 75px;
                        @include mobile-l {
                            line-height: 95px;            
                            // line-height: 88px;            
                        };
                        font-size: 1em;
                        @include mobile-l {
                            font-size: 1.2em;
                        };
                        @include tablet {
                            font-size: 1.5rem;
                            line-height: 86px;
                            margin-bottom: 1rem;
                        }
                        text-align: center;
                        transition: 0.5s;
                        color: white;
                    }
                    
                    .text {
                        position: absolute;
                        color: white;
                        font-weight: 400;
                        font-size: 0.75em;
                        letter-spacing: 0.05em;
                        transition: 0.5s;
                        opacity: 0;
                        transform: translateY(20px);
                        @include tablet {
                            font-size: .85rem;
                        }
                    }
                }

                &:nth-child(1).active ~ .indicator {
                    transform: translateX(calc(0px * 0));
                }

                /* projects */
                &:nth-child(2).active ~ .indicator {
                    transform: translateX(calc(48.5px * 1));
                    @include mobile-m {
                        transform: translateX(calc(62px * 1));
                    };
                    @include mobile-l {
                        transform: translateX(calc(62px * 1));
                    };
                    @include tablet {
                        transform: translateX(calc(91.2px * 1));
                    };
                }

                /* experience */
                &:nth-child(3).active ~ .indicator {
                    transform: translateX(calc(49.5px * 2));
                    @include mobile-m {
                        transform: translateX(calc(62px * 2));
                    };
                    @include mobile-l {
                        transform: translateX(calc(63px * 2));
                    };
                    @include tablet {
                        transform: translateX(calc(91px * 2));
                    };
                }

                /* hobbies */
                &:nth-child(4).active ~ .indicator {
                    transform: translateX(calc(49.5px * 3));
                    @include mobile-m {
                        transform: translateX(calc(63px * 3));
                    };
                    @include mobile-l {
                        transform: translateX(calc(63px * 3));
                    };
                    @include tablet {
                        transform: translateX(calc(91px * 3));
                    };
                }

                /* blog */
                &:nth-child(5).active ~ .indicator {
                    transform: translateX(calc(49.5px * 4));
                    @include mobile-m {
                        transform: translateX(calc(63px * 4));
                    };
                    @include mobile-l {
                        transform: translateX(calc(63px * 4));
                    };
                    @include tablet {
                        transform: translateX(calc(91.5px * 4));
                    };
                }
             
                /* reviews */
                &:nth-child(6).active ~ .indicator {
                    transform: translateX(calc(49.5px * 5));
                    @include mobile-m {
                        transform: translateX(calc(63px * 5));
                    };
                    @include mobile-l {
                        transform: translateX(calc(63px * 5));
                    };
                    @include tablet {
                        transform: translateX(calc(91.5px * 5));
                    };
                }
            }
        }
    }

    .indicator {
        position: absolute;
        top: -50%;
        left: 1%;
        @include mobile-m {
            left: 0.8% 
        };
        @include mobile-l {
           left: 7.2% 
        };
        
        width: 60px;
        height: 60px;
        @include mobile-l {
            width: 70px;
            height: 70px;
        };
        @include tablet {
           left: 4.8%; 
           width: 85px;
           height: 85px;
        };
        background-color: $accent-blue;
        border-radius: 50%;
        border: 6px solid white;
        transition: 0.5s;

        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     left: -21.6px;
        //     width: 20px;
        //     height: 20px;
        //     background-color: transparent;
        //     border-top-right-radius: 20px;
        //     box-shadow: 0px -10px 0 0 transparent;
        // }

        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     right: -21.6px;
        //     width: 20px;
        //     height: 20px;
        //     background-color: transparent;
        //     border-top-left-radius: 20px;
        //     box-shadow: 0px -10px 0 0 transparent;
        //     // box-shadow: 0px -10px 0 0 white;
        // }
    }
}