
    
    .project-item-flex-container {
        display: none;
        flex-direction: column;
        align-items: center;
    }

        .project-item-button {
            transition: all .3s ease-out;
        }
    
    h2 {
        font-weight: 500;
        color: $dark-grey2;
        margin: 2rem 0 2rem 0;
    }

    .project-item-description {
        color: $light-grey1;
        font-weight: 500;
        font-size: .8rem;
    }

    .project-item-filter-tags-list {
        color: $light-grey1;
        font-size: .7rem;
    }

    img { 
        height: 12rem;
        width: 16rem;
        border-radius: 15px;
        @include mobile-m{
            height: 16rem;
            width: 20rem;
        }
        @include mobile-l{
            height: 16rem;
            width: 24.2rem;
        }
        @include tablet{
            height: 23rem;
            width: 35rem;
        }
    }

    .project-item-buttons-flex-container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;

    }

    #project-items {
        @include laptop {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
        }
    }