#project-tags {
    
    @include laptop {
        display: block;
        // grid-column: 2 / 3;
    }

    .tag-counter-header, 
    .filter-by-header,
    #type-filter-tags-container {
        opacity: 0;
        transition: all 2s ease;
    };

    .project-even {
        display: none;
    }

    .active {
        background-color: $accent-blue;
        color: white;
    };
    
h1, h2, h3 {
    color: $dark-grey1;
    font-weight: 400;
}

h1 {
    margin-bottom: 1rem;
    font-size: 1rem;
    @include laptop {
        font-size: 1.2rem;   
    }
}

h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
    @include laptop {
        font-size: 1.2rem;   
    }
}

h3 {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 1rem;
    @include laptop {
        font-size: 1.2rem;   
    }
}

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @include laptop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        button {
            background-color: white;
            padding: 2px 20px;
            padding: 2px 0px;
            border-radius: 10px;
            margin-bottom: 1rem;
            width: 7rem;
            @include laptop {
                width: 8rem;
            }
            cursor: pointer;
            border: solid $dark-grey1 1px;
            &:hover {
                color: white;
                background-color: $accent-blue;
                }
            @include laptop {
                &:hover {
                color: $accent-blue;
                border: solid $accent-blue 1px;
                background-color: white;
                }
            }
        }
    }
}

.project-odd,
.project-even {
    opacity: 0;
    transition: all 2s ease;
};
