#projects {
    
        .project-item-button {
            transition: all .3s ease-out;
        }
    
    h2 {
        font-weight: 500;
        color: $dark-grey2;
        margin: 2rem 0 2rem 0;
    }

    .project-item-description {
        color: $light-grey1;
        font-weight: 500;
        font-size: .8rem;
    }

    .project-item-filter-tags-list {
        color: $light-grey1;
        font-size: .7rem;
    }

    img { 
        height: 12rem;
        width: 16rem;
        border-radius: 15px;
    }

    .project-item-buttons-flex-container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;

    }
}