#skills {
    height: 18rem;
    @include laptop {
        height: 19rem;
    }

    p { 
        font-size: .7rem;
        align-self: flex-end;    
        @include laptop {
            font-size: 1rem;
        }
}
    li {
        list-style: none;
        position: relative;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .skillbar {
        position: absolute;
        right: 4rem;
        width: 50%;
        height: 8px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: $light-grey3;
        align-self: center;
        @include laptop {
            width: 70%;
            right: 1rem;
        }
        
        span {
            display: block;
            height: 100%;
            width: 80%;
            border-radius: 10px;
            background-color: $accent-blue;
        }

        .skillbars {
            transition: all 2s ease-out;
        }

        .html{
            width: 10%;
        }

        .css{
            width: 10%;
        }

        .js{
            width: 10%;
        }

        .react{
            width: 10%;
        }
    }
}
