.code {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    height: 2rem;
    width: 5rem;
    outline: 1px solid $accent-blue;
    background-color: white;
    color: $accent-blue;

    a {
        text-decoration: none;
    }

    &:hover {
        background-color: $accent-blue;
        outline: none;
        color: white;
    }
}