.demo {
    border-radius: 10px;
    background-color: $accent-blue;
    border: none;
    height: 2rem;
    width: 6rem;
    cursor: pointer;

    a {
        color: white;
        text-decoration: none;
    }

    &:hover {
        background-color: white;
        border: 1px solid $accent-blue;

         a {
            color: $accent-blue;
         }
    }
}